.banner-interno__titulo__icono i
  color: #12263F !important

.cajon.color-primario
  background-color: #FEFAF7

.cajon.color-primario::before
  background-color: #EF6C00

.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario
  background-color: #0F0140
  h3,p
    color: #DAD6F7

.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover
  background-color: #f6f6f6
  h3,p
    color: #0F0140

.slyder-a__bullets
  bottom: -10px

.tarjeta--azul
  background-color: white
  background-image: url(../assets/curso/img18.svg)
  background-repeat: no-repeat
  background-size: cover

.tarjeta--azul1
  background-color: #F5F4FD

.img-infografica.color-secundario .img-infografica__item__dot::before, .img-infografica.color-secundario .img-infografica__item__dot::after, .img-infografica.color-secundario .img-infografica-b__item__dot::before, .img-infografica.color-secundario .img-infografica-b__item__dot::after, .img-infografica-b.color-secundario .img-infografica__item__dot::before, .img-infografica-b.color-secundario .img-infografica__item__dot::after, .img-infografica-b.color-secundario .img-infografica-b__item__dot::before, .img-infografica-b.color-secundario .img-infografica-b__item__dot::after
  background-color: #EF6C00

.tarjeta.color-acento-botones1
  background-color: white
  p
    color: #0F0140

.bloque-texto-b.color-secundario::before
  background-color: #F1EFF9

.tarjeta.color-acento-botones
  background-color: #DAD6F7

.tarjeta.color-acento-contenido
  background-color: #E8F0F8
  p
    color: #0F0140

.boton.color-acento-contenido:active, .color-acento-contenido.boton--sm:active, .boton.color-acento-contenido:focus, .color-acento-contenido.boton--sm:focus, .boton.color-acento-contenido:hover, .color-acento-contenido.boton--sm:hover
  background-color: #05DBF2

.boton.color-acento-contenido:active, .color-acento-contenido.boton--sm:active, .boton.color-acento-contenido:focus, .color-acento-contenido.boton--sm:focus, .boton.color-acento-contenido, .color-acento-contenido.boton--sm
  background-color: #05DBF2

.titulo-segundo::after
  border-left: solid 50px #05DBF2

.titulo-sexto p
  display: inline-block
  margin-right: 10px
  margin-bottom: 0

.bg-color1
  background-image: url(../assets/curso/img3.svg)
  background-repeat: no-repeat
  background-size: cover

.bg-color2
  height: 180px
  figure,h3
    z-index: 1
    position: relative
  &::before
    content: ""
    position: relative
    bottom: -160px
    width: 99%
    height: 6%
    background-color: #05DBF2
    z-index: 2
    display: block

.bg-color3
  background-image: url(../assets/curso/img5.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: contain
  background-size: 400px
  background-position: left

.bg-color4
  background-image: url(../assets/curso/img17.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: contain
  background-size: 400px
  background-position: right

.bg-color5
  background-color: #F3F2FA
  margin-inline: -3.2rem !important
  padding: 60px

.bg-color6
  background-color: #F9F8FF

.bg-color7
  background-color: #8A7CBF
  p
    z-index: 1
  &::before
    content: ""
    position: relative
    bottom: -95px
    left: -60px
    width: 0%
    height: 0%
    border-right: 50px solid #8A7CBF
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent
    z-index: 2
    display: block

.bg-color14
  background-color: #8A7CBF
  p
    z-index: 1
  &::before
    content: ""
    position: relative
    bottom: -130px
    left: -60px
    width: 0%
    height: 0%
    border-right: 50px solid #8A7CBF
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent
    z-index: 2
    display: block

@media screen and ( max-width: 990px )
  .bg-color7
    background-color: #8A7CBF
    p
      z-index: 1
    &::before
      content: ""
      position: relative
      top: -80px
      left: 40%
      width: 0%
      height: 0%
      border-left: 40px solid transparent
      border-bottom: 30px solid #8A7CBF
      border-right: 40px solid transparent
      z-index: 2
      display: block

  .bg-color14
    background-color: #8A7CBF
    p
      z-index: 1
    &::before
      content: ""
      position: relative
      top: -80px
      left: 40%
      width: 0%
      height: 0%
      border-left: 40px solid transparent
      border-bottom: 30px solid #8A7CBF
      border-right: 40px solid transparent
      z-index: 2
      display: block

.bg-color8
  background-image: url(../assets/curso/img11.png)
  background-repeat: no-repeat
  background-size: cover

.bg-color9
  background-image: url(../assets/curso/img12.png)
  background-repeat: no-repeat
  background-size: cover
  background-size: auto
.bg-color10
  background-image: url(../assets/curso/img13.png)
  background-repeat: no-repeat
  background-size: cover

.bg-color11
  background-color: rgba(112, 112, 112, .3);

.bg-color12
  background-color: white
  border-radius: 40px
  padding: 20px
  border: 9px solid #F3F2FA
  width: 100%
  height: 450px

.bg-color13
  background-color: white
  border-radius: 40px
  padding: 20px
  border: 9px solid #F3F2FA
  width: 100%
  height: 270px

.txt-deco1
  color: #3E2EA6
  background-color: #DAD6F7
  padding: 3px

.txt-deco2
  color: #0F0140
  background: #DAD6F7
  padding: 3px

.bg-color15
  background-image: url(../assets/curso/img22.png)
  background-repeat: no-repeat
  background-size: cover
  h4
    background-color: #3E2EA6
    padding-top: 20px
    padding-left: 30px
    padding-right: 30px
    padding-bottom: 20px
    margin-left: -23px

.bg-color16
  background-image: url(../assets/curso/img23.png)
  background-repeat: no-repeat
  background-size: cover
  h4
    background-color: #3E2EA6
    padding-top: 20px
    padding-left: 30px
    padding-right: 30px
    padding-bottom: 20px
    margin-left: -23px

.contenedor1
  margin: 0px
  padding: 0px
  box-sizing: border-box
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  height: 41vh

.contenedor1 figure
  position:relative
  height: 250px
  width: 350px
  overflow: hidden
  border-radius: 6px
  box-shadow: 0px 15px 25px rgba(0,0,0,0.20)

.contenedor1 figure img
  width: 100%
  height: 100%
  transition: all 400ms ease-out
  will-change: transform

.contenedor1 figure .capa1
  position: relative
  top: -330px
  left: -75px
  width: 500px
  height: 500px
  background: rgba(60,46,166,0.3)
  transition: all 400ms ease-out
  opacity: 0
  visibility: hidden
  text-align: center

.contenedor1 figure:hover > .capa1
  opacity: 1
  visibility: visible

.contenedor1 figure:hover > .capa1 h3
  top: -40px
  margin-top: 70px
  margin-bottom: 15px
  padding-top: 40px
  top: 20px

.contenedor1 figure:hover > img
  transform: scale(1.3)

.contenedor1 figure .capa1 h3
  color: #EF6C00
  font-weight: bolder
  font-size: 30px
  transition: all 400ms ease-out
  margin-top: 30px
  line-height: 1.5
  width: 10%
  max-width: 220px
  left: 140px
  top: 11px
  position: relative

.contenedor1 figure .capa1 p
  color: #fff
  font-size: 15px
  line-height: 1.5
  width: 100%
  max-width: 220px
  margin-left: 160px
  position: relative
  top: -51px
  left: 45px
  padding-top: 11px
  padding-bottom: 11.5px
  padding-right: 40px
  padding-left: 20px

.bg-color17
  background-color: #3E2EA6